<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Login</title>
</head>
<body>
    <div class="main-login">
        <div class="left-login">
            <h1>Efetue o login<br> para começar a ler</h1>
            <a href="../../index.html"><button type="button"><img src="./img/logo atualizado.png"> </button> </a> 
        </div>
        <div class="right-login">
            <div class="card-login">
                <h1>LOGIN</h1>
                <div class="text-field">
                    <label for="usuario">Usuário</label>
                    <input type="text" name="usuario" placeholder="Usuário">
                </div>
                <div class="text-field">
                    <label for="senha">Senha</label>
                    <input type="password" name="senha" placeholder="Senha">
            </div>
            <a href="../View/perfil.html"><button class="btn-login">Login</button></a>
        </div>
    </div> 
    </div>
</body>
</html>